body{
    position: fixed;
    background-color: black;
}

h1{
    color: red;
    font-size: 40px;
    font-weight: 500;
}

p{
    color:aqua;
    font-size: 60px;
    font-weight: 600;

}

li{
    list-style: none;
    background-color: red;
    font-size:30px;
    
}