@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
       
    background-image: url(image/hack.jpg);
    /*background-color:black;*/
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;

}

header{
    /*background-color:black;*/
    display: flex;
    position: fixed;
    width: 100%;
    top:0px;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
}   

.logo{
    color: white;
    justify-content: flex-start;
    margin: 
    0px 0px;
    margin-left: 150px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size:45px;
}

.navigateur a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 30px 40px;
    text-transform: uppercase;
    font-weight: 400;
}

.navigateur{
    margin-right: 30px;
}

.navigateur a:hover{
   color: red;
    transition: 0.7s;
}

.main{
    display: flex;
    /*background-color:black;*/
    margin: 30px 0px;
}

.text{
    display: inline;
    margin: 100px 100px;
    text-transform: uppercase;
}

.im{
    color:red;
    font-size:2.9em;
    font-weight: 600;
    
}

.name{
    color:white;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 2px;

}

.content{
    color: red;
    font-size: 30px;
    letter-spacing: 3px;
}

.description{
    color: white;
    font-size: 1.4em;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;

}

.button{
    display: flex;
    justify-content: space-between;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    margin: 10px 10px;
    align-items: center;
}

.button{
margin-top: 100px;
color:white;

}
.icon{
    align-items: center;
    padding: 10px 20px ;
    align-items: center;
    margin-right: 50px;
    font-size: 40px;
    font-weight: 500;

}

.icon a{
    color:black;
    margin-right:20px;
    font-size: 30px;
    background-color:red;
    border: 2px solid red;
    border-radius: 50%;
    padding: 8px 8px;
}

.icon a:hover{
    background-color: transparent;
    color:white;
    font-size: 30px;
    transition: 0.7s;
}

.mywork-button{
            border:none;
            font-size: 1em;
            text-decoration: none;
            background-color: red;
            color: black;
            align-items: center;
            padding: 20px;
            border-radius: 60% 20%;
            border: 2px solid red;

}

.mywork-button:hover{
                color: white;
                background-color: transparent;
                transition: 0.6s;
                cursor: pointer;

        }

footer{
    /*background-color: black;*/
}

.list{
    color: white;
    list-style: none;
    font-size: 20px;
    /*margin: 30px 30px;*/
    /*padding:30px 0px 0px 30px;*/
    letter-spacing: 2px;
    text-transform:uppercase;
    font-weight:500;
}

li{
    padding-bottom:30px;

}


 a{
    text-decoration: none;
    color:white;
    
}

 a:hover{
    color:red;
    /*color: rgb(118, 118, 118);*/
    transition: 0.7s;
}


.follow{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
}

.icon2{
    display: flex;
    justify-content: center;
    color:rgb(53, 53, 53);
    font-size: 20px;
    padding:10px 10px;

}

.icon2 a {
    color: black;
    background-color: red;
    border: solid 2px red;
    border-radius: 50%;
    margin: 10px;
    padding: 10px 10px;
}

.icon2 a:hover{
    color:white;
    background-color: transparent;
}


.copyright1{
    color: white;
    display: flex ;
    justify-content: center;
    padding: 10px 10px;
    font-size: 20px;
}

